* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 32px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin-bottom: 64px;
}

.today {
  text-align: center;
  margin-bottom: 30px;
}

#day,
#date {
  font-weight: 600;
  font-size: 45px;
}

#day {
  margin-bottom: 32px;
}

#date {
  margin-bottom: 50px;
}

#month,
#year {
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  gap: 35px;
}

.icon {
  width: 24px;
  height: 24px;
}

th,
td {
  padding: 3px;
  text-align: center;
}
