* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Varela Round", sans-serif;
  margin: 32px;
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 72px;
  margin-bottom: 64px;
}

.today {
  text-align: center;
  margin-bottom: 30px;
}

#day,
#date {
  font-weight: 600;
  font-size: 45px;
}

#day {
  margin-bottom: 32px;
}

#date {
  margin-bottom: 50px;
}

#month,
#year {
  font-size: 25px;
}

.container {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-bottom: 60px;
}

.icon {
  width: 24px;
  height: 24px;
}

th,
td {
  padding: 3px;
  text-align: center;
}

.red {
  color: red;
}

.schedule {
  width: 300px;
  margin: auto;
}

.schedule-head {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#schedule-title {
  font-size: 18px;
  font-weight: 600;
}

.icon--plus {
  margin-left: auto;
  color: #1098ad;
}

.schedule-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.schedule-item {
  list-style: none;
  display: flex;
  align-items: center;
}

.schedule-item-checkbox {
  margin-right: 10px;
}

.icon--trash {
  width: 18px;
  height: 18px;
  margin-left: auto;
  color: #adb5bd;
  transition: all 0.2s;

  display: none;
}

.icon--trash:hover {
  color: #f03e3e;
}
